.authentication {
  background-color: $color-grey-dark;
  text-transform: uppercase;

  .modal {
    background-color: $color-white;
  }

  .field, .actions, a {
    @include grid-column(8);
    @include grid-shift(2);
  }

  .field {
    margin-bottom: 1.5rem;
  }

  .btn-primary {
    margin-bottom: 1.5rem;
  }

  form {
    margin-top: 3rem;
  }

  input {
    width: 100%;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  a {
    color: $color-grey-light;

    &:hover {
      color: darken($color-grey-light, 10%);
    }
  }

}
