$neat-grid: (
  columns: 12,
  gutter: 16px,
);

body {
  font-family: 'Oswald', sans-serif;
}

form {
  text-align: left;
}

label {
  text-transform: uppercase;
}

input {
  &:-webkit-autofill {
    background-color: white !important;
  }
}
