$color-white: #ffffff;

$color-sand-light: #B6ACA1;
$color-sand-med: #9C9390;


$color-taupe-light: #DDD5C9;
$color-taupe-med: #C2BAAE;
$color-taupe-dark: #9C958A;

$color-grey-light: #CACBCD;
$color-grey-med: #ACAEB1;
$color-grey-dark: #8A8C8F;

$color-citrus-light: #ECC925;
$color-citrus-med: #CAB527;
$color-citrus-dark: #72600E;

$color-pool-light: #A9CEC9;
$color-pool-med: #8DADA8;
$color-pool-dark: #66807C;

$color-slate-light: #7D7E83;
$color-slate-med: #5D5E62;
$color-slate-dark: #343539;
